@model IEnumerable<NoteModel>

<style>
    .create-btn{
        margin: 10px;
        padding: 10px;
        border: groove, 1px;
        margin-top: 30px;
        border: solid 2px gray;
    }
    .dateinfo{
        color:gray;
        font-size:10px;
        padding-left: 150px;
    }
    .block{
        margin:15px;
        padding : 30px;
        border:dashed 1px;
        max-width: 30%; 
        justify-content: center;
    }
    .block.a{
        margin-top: 15px;
        color:darkslategray;
    }

    .block.a:hover {
        color:aqua;
    }
</style>

@if(!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p>@ViewBag.ErrorMessage</p>
}
else
    @foreach(var note in Model){
        <div class="block">
            @*<h2>@note.Id</h2>*@
            <div style="display:block"><h2 style="float:left">@note.Title</h2>
                @if(note.IsEdited){<i style="margin-left:10px; float:left">&#128397;</i>}
            </div>
            <br><br>
            <h2>@note.Description</h2>
            <h3 class="dateinfo">@note.DateTimeModified.ToString("dd-MM-yyyy-m-HH-ss")</h3>
            <a asp-action="Edit" asp-controller="Home" asp-route-id="@note.Id">Edit</a>
        </div>
    }
<a class="create-btn" asp-action="Create" asp-controller="Home">Create</a>